@import '@fontsource/fira-mono';

:root {
	background: rgb(31, 31, 31);
	background: linear-gradient(
		180deg,
		rgba(31, 31, 50, 1) 0%,
		rgba(31, 37, 37, 1) 30%,
		rgba(31, 31, 31, 1) 50%,
		rgba(31, 37, 37, 1) 70%,
		rgba(31, 50, 31, 1) 100%
	);
	--color-theme-1: #1fdd75;
	--color-text: rgba(255, 255, 255, 0.7);
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

button{
	color: rgb(200, 200, 210);
	background: linear-gradient(
		90deg,
		rgba(31, 31, 50, 1) 0%,
		rgba(31, 37, 37, 1) 30%,
		rgba(31, 31, 31, 1) 50%,
		rgba(31, 37, 37, 1) 70%,
		rgba(31, 50, 31, 1) 100%
	);
}
button:hover{
	background: linear-gradient(
		180deg,
		rgba(40, 40, 65, 1) 0%,
		rgba(40, 48, 48, 1) 30%,
		rgba(40, 40, 40, 1) 50%,
		rgba(40, 48, 48, 1) 70%,
		rgba(40, 65, 40, 1) 100%
	);
}



